$red-color: #c40f3a;
$green-color: #6fbb34;
$broun-color: #8a6a4e;
$black-color: #031d17;
$black-color--light: #074132;
$black-color--light-hover: #0b6c53;
$bezh-color: #fef7f1;
$grey-color: #c2c2c2;
