@import "../../assets/styles/colors.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 30rem;
}

.input {
  background-color: rgb(166, 196, 166);
}
.invalid {
  border: 1px solid red;
  background-color: rgb(75, 7, 7);
  color: azure;
}
